.room-container {
    padding: 0 !important;
}

.room {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 0px;
    transition-duration: 0.3s;
}

.room:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}

.room .header {
    min-height: 69px;
    border-bottom: 1px solid #ddd;
}

.room .header .room-title {
    display: flex;
    line-height: 1.6em;
    margin: 6px 10px;
    font-size: 16px;
    font-weight: bold;
}

.room .header .room-title a {
    flex: 3;
    color: #333;
}

.room .header .room-title .serial{
    flex: 1;
    text-align: right;
    font-weight: normal;
}

.room .header .room-remark {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.1em;
}

.room .body .room-content {
    padding: 10px;
    background-color: #5DADE2;
    min-height: 160px;
}

.room .body .room-content p {
    margin-bottom: 0;
}

.room .body .room-content .company-name {
    font-weight: bold;
    font-size: 14px;
}

.room .body .actions {
    padding: 0;
    margin: 0;
    min-height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    border-top: 1px solid #ddd;
}

.room .body .actions li {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1;
    border-right: 1px solid #ddd;
}

.room .body .actions li:last-child {
    border-right: none;
}

.empty-room-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    overflow-y: hidden;
}

.empty-room-container .empty-room-list {
    flex: 1;
    overflow-y: scroll;
    list-style-type: none;
    margin-top: 3px;
    border: 1px solid #ddd;
    padding: 0;
}

.empty-room-container .empty-room-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 6px;
    line-height: 1.8em;
    border-bottom: 1px solid #ddd;
}

.empty-room-container .empty-room-list li .left span {
    margin-left: 10px;
}

.empty-room-container .empty-room-list li:hover {
    background-color: #f9fafc;
}

.selected-room-list {
    margin: 5px;
    padding: 0;
    list-style-type: none;
}

.selected-room-list li {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

.enter-create-area {
    margin: 5px 10px;
}

.enter-create-area .item {
    margin: 10px 0;
}
